html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/css/main.css', rel='stylesheet', type='text/css')

	body
		.container-fluid
		.row.nav
			.navbar.navbar-default.site
				ul.nav.navbar-nav

				ul.nav.navbar-nav.navbar
					li
						a(href="/user") #{myusername}
					li
						a(href="/friends") Friends
					li
						a(href="/logout") Log out
		.container
			.col-md-12
				h1 Welcome #{user.username}
				br
			.col-md-12
				form.form-horizontal(role='form' action='/user' method='POST')
					.form-group
						label.control-label.col-sm-2(for='firstName') First Name:
						.col-sm-4
							input.form-control(name='firstName' type='text' value='#{user.firstName}')
					.form-group
						label.control-label.col-sm-2(for='lastName') Last Name:
						.col-sm-4
							input.form-control(name='lastName' type='text' value='#{user.lastName}')
					.form-group
						label.control-label.col-sm-2(for='email') Email:
						.col-sm-4
							input.form-control(name='email' type='text' value='#{user.email}' required)
					.form-group
						input.btn.btn-primary(type='submit' value='Save changes')